<section class="content">
  <div class="container-fluid">

    <div class="row">

      <!-- LINE CHART -->
      <div class="col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-header"><h3 class="card-title">Line Chart</h3></div>
          <div class="card-body">
            <canvas id="lineChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>

      <!-- BAR CHART -->
      <div class="col-md-6">
        <div class="card card-success card-outline">
          <div class="card-header"><h3 class="card-title">Bar Chart</h3></div>
          <div class="card-body">
            <canvas id="barChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <!-- AREA CHART -->
      <div class="col-md-6">
        <div class="card card-warning card-outline">
          <div class="card-header"><h3 class="card-title">Area Chart</h3></div>
          <div class="card-body">
            <canvas id="areaChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>

      <!-- PIE CHART -->
      <div class="col-md-6">
        <div class="card card-danger card-outline">
          <div class="card-header"><h3 class="card-title">Pie Chart</h3></div>
          <div class="card-body">
            <canvas id="pieChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <!-- DONUT CHART -->
      <div class="col-md-6">
        <div class="card card-info card-outline">
          <div class="card-header"><h3 class="card-title">Donut Chart</h3></div>
          <div class="card-body">
            <canvas id="donutChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
